<!-- <div class="card">
  <div class="card-body"> -->
<app-section-title class="text-center" [title]="'change password'"></app-section-title>
<div class="login-content">
  <h5>
    <span>Fill with accurate information</span>
  </h5>
  <form class="example-form">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <input id="opasswordFormControl" name="opasswordFormControl" required class="form-control"
              [type]="viewPassword ? 'text' : 'password'" placeholder="Old Password"
              [formControl]="opasswordFormControl">
            <div class="input-group-append">
              <a class="btn btn-outline-secondary" (click)="viewPassword = !viewPassword">
                <i class="fa " [ngClass]="{'fa-eye':!viewPassword, 'fa-eye-slash':viewPassword}"></i>
              </a>
            </div>
          </div>
          <div *ngIf="opasswordFormControl.invalid && (opasswordFormControl.touched || opasswordFormControl.dirty)"
            class="alert alert-danger">
            <small *ngIf="opasswordFormControl.hasError('password') && !opasswordFormControl.hasError('required')">
              Please enter your current password
            </small>
            <small *ngIf="opasswordFormControl.hasError('required')">
              Current password is
              <strong>required</strong>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="input-group">
            <input id="passwordFormControl" name="passwordFormControl" required class="form-control"
              [type]="viewPassword ? 'text' : 'password'" placeholder="New Password"
              [formControl]="passwordFormControl">
            <div class="input-group-append">
              <a class="btn btn-outline-secondary" (click)="viewPassword = !viewPassword">
                <i class="fa " [ngClass]="{'fa-eye':!viewPassword, 'fa-eye-slash':viewPassword}"></i>
              </a>
            </div>
          </div>
          <div *ngIf="passwordFormControl.invalid && (passwordFormControl.touched || passwordFormControl.dirty)"
            class="alert alert-danger">
            <small *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
              Please enter your new password
            </small>
            <small *ngIf="passwordFormControl.hasError('required')">
              New password is
              <strong>required</strong>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <div class="input-group">
          <input id="cpasswordFormControl" name="cpasswordFormControl" required class="form-control" [type]="viewPassword ? 'text' : 'password'"
            placeholder="Confirm New Password" [formControl]="cpasswordFormControl">
              <div class="input-group-append">
                <a class="btn btn-outline-secondary" (click)="viewPassword = !viewPassword">
                  <i class="fa " [ngClass]="{'fa-eye':!viewPassword, 'fa-eye-slash':viewPassword}"></i>
                </a>
              </div>
            </div>
          <div *ngIf="cpasswordFormControl.invalid && (cpasswordFormControl.touched || cpasswordFormControl.dirty)"
            class="alert alert-danger">
            <small
              *ngIf="cpasswordFormControl.hasError('password') && !cpasswordFormControl.hasError('required') && cpasswordFormControl.value != passwordFormControl.value">
              Please confirm your password
            </small>
            <small *ngIf="cpasswordFormControl.value != passwordFormControl.value">
              New password and confirm password don't match
            </small>
            <small *ngIf="cpasswordFormControl.hasError('required')">
              Confirm Password is
              <strong>required</strong>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 btn-holder">
        <button (click)="changePassword()"
          [disabled]="loading || passwordFormControl.hasError('required') || passwordFormControl.hasError('required') || cpasswordFormControl.hasError('required')"
          class="btn btn-primary pull-right">
          <i class="fa {{loading ? 'fa-spin fa-spinner' : 'fa-save'}}"></i> Save Changes
        </button>
      </div>
    </div>
  </form>
</div>
<!-- </div>

</div> -->