<div class="card">
  <div class="card-body">
    <app-section-title [title]="'reset password'"></app-section-title>
    <div *ngIf="successful" class="login-content">
      <h5>Congratulations,</h5>
      <h6 class="mb-5">Your Password has been changed! </h6>
      <div class="btn-holder is-clickable" routerLink="/auth/login">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-4">
            <i class="fa fa-sign-in fa-3x"></i>
          </div>
          <div class="col-md-10 col-sm-10 col-8">Login to Proceed</div>
        </div>
      </div>
    </div>
    <div *ngIf="!successful" class="login-content">
      <h5>Reset Password</h5>
      <form class="example-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input (keydown.space)="$event.preventDefault();" readonly class="form-control" type="email"
                placeholder="Email" [(ngModel)]="model.Email" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <input id="passwordFormControl" name="passwordFormControl" class="form-control"
                  [type]="viewPassword ? 'text' : 'password'" placeholder="Password"
                  [formControl]="passwordFormControl">
                <div class="input-group-append">
                  <a class="btn btn-outline-secondary" (click)="viewPassword = !viewPassword">
                    <i class="fa " [ngClass]="{'fa-eye':!viewPassword, 'fa-eye-slash':viewPassword}"></i>
                  </a>
                </div>
              </div>
              <div *ngIf="passwordFormControl.invalid && (passwordFormControl.touched || passwordFormControl.dirty)"
                class="alert alert-danger">
                <small *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                  Please enter your new password
                </small>
                <small *ngIf="passwordFormControl.hasError('required')">
                  New password is
                  <strong>required</strong>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <input id="cpasswordFormControl" name="cpasswordFormControl" class="form-control"
                  [type]="viewPassword ? 'text' : 'password'" placeholder="Confirm Password"
                  [formControl]="cpasswordFormControl">
                <div class="input-group-append">
                  <a class="btn btn-outline-secondary" (click)="viewPassword = !viewPassword">
                    <i class="fa " [ngClass]="{'fa-eye':!viewPassword, 'fa-eye-slash':viewPassword}"></i>
                  </a>
                </div>
              </div>
              <div *ngIf="passwordFormControl.invalid && (passwordFormControl.touched || passwordFormControl.dirty)"
                class="alert alert-danger">
                <small
                  *ngIf="cpasswordFormControl.value != passwordFormControl.value && (!cpasswordFormControl.hasError('required'))">
                  New password and confirm password don't match
                </small>
                <small *ngIf="cpasswordFormControl.hasError('required')">
                  Confirm Password is
                  <strong>required</strong>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 btn-holder">
            <div class="pull-right">
              <button (click)="ChangePassword()"
                [disabled]="loading || !model.Email || passwordFormControl.hasError('required') || cpasswordFormControl.hasError('required')"
                class="btn btn-primary">
                <i class="fa fa-save"></i> Change Password
              </button>
              <button *ngIf="errror" (click)="requestNewResetPasswordLink()" [disabled]="loading"
                class="btn btn-primary mt-1">Request New Password Reset Link</button>
              <div class="alert alert-success" *ngIf="requestNewResetPasswordLinkSuccess">
                An email has being sent to {{model.Email}} with a link to create a new password
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>