ul {
    padding-inline-start: 0px;
}

li {
    display: block;
}

h4 {
    margin: 1rem 0;
}

h6 {
    margin: 1rem 0;
}

a {
    color: #fff;
}

.social-media img {
    width: 40px;
}


.payment-partners div{
    border-radius: 5px;
    height: 40px;
}
.payment-partners img {
    width: 40px;
    height: 100%;
}