<!-- <div class="card">
  <div class="card-body"> -->
<app-section-title class="text-center" [title]="'forgot password'"></app-section-title>
<div class="login-content">
  <form class="example-form">
    <div class="row">
      <div class="col-md-12">
        <p style="white-space: normal; font-size: 1rem;">
          <span>Provide registered email below to reset your password</span>
        </p>
        <div class="form-group">
          <input id="emailFormControl" name="emailFormControl" (keydown.space)="$event.preventDefault();"
            class="form-control" placeholder="Email" [formControl]="emailFormControl">
          <div class="alert alert-danger"
            *ngIf="emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched)">
            <small *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </small>
            <small *ngIf="emailFormControl.hasError('required')">
              Email is
              <strong>required</strong>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 btn-holder">
        <button
          [disabled]="loading || emailFormControl.hasError('required') || (emailFormControl.hasError('email') && !emailFormControl.hasError('required'))"
          *ngIf="notSuccessful" (click)="requestPasswordReset()" class="btn-primary btn pull-right">
          <i class="fa {{loading? 'fa-spin fa-spinner' : 'fa-refresh'}}"></i> Reset Password
        </button>
        <div *ngIf="!notSuccessful" class="alert alert-success">
          Password reset request sent Successfully
          <br>
          <small>Check your mail to change your password</small>
        </div>
      </div>
    </div>
  </form>
  <h5 class="mt-3">
    <span>Just remembered your password?</span>
  </h5>
  <div class="row pb-3">
    <div class="col-md-12 text-center">
      <span class="is-clickable">
        <a routerLink="/auth/login">
          <i class="fa fa-sign-in"></i> Sign In Here
        </a>
      </span>
    </div>
    <!-- <div class="col-md-6">
        <a href="javascript:void(0)">
          <i class="fa fa-frown-o"></i>
          <small> I can't sign in</small>
        </a>
      </div> -->
  </div>
</div>
<!-- </div>
</div> -->