<!-- <h5 class="text-primary">
  <span>Social Media Login</span>
</h5> -->
<div class="sm-holder text-center">
  <!-- <div class="cursor shadow m-1 social facebook" (click)="loginWithFacebook()">
  </div>
  <div class="cursor shadow m-1 social google" (click)="loginWithGoogle()">
  </div> -->
  <button [disabled]="loading" class="btn btn-sm bg-transparent shadow m-1 social facebook" (click)="loginWithFacebook()"></button>
  <button [disabled]="loading" class="btn btn-sm bg-transparent shadow m-1 social google" (click)="loginWithGoogle()"></button>
  <!-- <button [disabled]="loading" (click)="loginWithFacebook()" class="btn btn-sm rounded-circle shadow p-0 m-1">
    <img src="http://afrimart.com/sm/fb.png" style="height: 40px; width: 40px" class="rounded rounded-circle border-primary"
      alt="Login with facebook">
  </button>
  <button [disabled]="loading" (click)="loginWithGoogle()" class="btn btn-sm rounded-circle shadow p-0 m-1">
    <img src="http://afrimart.com/sm/gp.png" style="height: 40px; width: 40px" class="rounded rounded-circle border-primary"
      alt="Login with google">
  </button> -->
</div>